<%= render 'shared/errors', obj: @article%>
    <div class="col-xs-12">
        <%= form_for @article do |f| %>
            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :Title %>
                </div>
                <div class="col-sm-8">
                <%= f.text_field :title, class:"form-control", placeholder:"Title of Article", autofocus: true %>
                </div>
            </div>

            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :Description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10, class:"form-control", placeholder: "Wirte your article here...", autofocus:true %>
                </div>
            </div>

            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <%= f.label :Category %>
                </div>
                <div class="col-sm-8">
                    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                        <% cb.label(class: "checkbox-inline input-checkbox mr-3") {cb.check_box(class: "checkbox mr-1") + cb.text} %>
                    <%end%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-12">
                <%= link_to 'Go Back', articles_path, class:'btn btn-warning btn-md offset-2'%>
                <%= link_to 'CANCEL', new_article_path, class:'btn btn-danger btn-md offset-5'%>
                <%= f.submit 'SUBMIT', class:'btn btn-info btn-md'%>
                </div>
            </div>

        <% end %>
        
    </div>
