<div class="container-fluid">
    <footer class="footer">   
        <span>
            <svg height="45px" viewBox="0 -26 512 512" width="50px" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="m289.996094 386h64.003906v64h-64.003906zm0 0" fill="#f7f7f7"/><path d="m249.996094 450v-64h-207.996094c-17.601562 0-32 14.398438-32 32 0 17.597656 14.402344 32 32 32zm0 0" fill="#f7f7f7"/><path d="m42 386h207.996094v-376h-207.996094c-17.601562 0-32 14.398438-32 32v376c0-17.601562 14.398438-32 32-32zm0 0" fill="#ff836c"/><path d="m289.996094 10v376h64.003906c8.800781 0 16-7.203125 16-16v-344c0-8.800781-7.199219-16-16-16zm0 0" fill="#ff836c"/><path d="m424 70v30.003906h48v-30.003906l-24-60zm0 0" fill="#c1c1c1"/><path d="m424 100.003906h48v285.996094h-48zm0 0" fill="#a6f074"/><path d="m472 386h-48v48c0 8.796875 7.199219 16 16 16h16c8.796875 0 16-7.203125 16-16zm0 0" fill="#a3a3a3"/><path d="m249.996094 10h40v376h-40zm0 0" fill="#a3a3a3"/><path d="m249.996094 386h40v64h-40zm0 0" fill="#a3a3a3"/></g><path d="m354 0h-232c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h117.996094v356h-197.996094c-8.058594 0-15.597656 2.28125-22 6.234375v-340.234375c0-12.132812 9.867188-22 22-22 5.523438 0 10-4.476562 10-10s-4.476562-10-10-10c-23.160156 0-42 18.839844-42 42v376c0 23.15625 18.839844 42 42 42h328c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-6v-46.003906c9.386719-3.925782 16-13.203125 16-23.996094v-344c0-14.335938-11.664062-26-26-26zm6 26v344c0 3.25-2.746094 6-6 6h-54v-356h54c3.253906 0 6 2.746094 6 6zm-100.003906-6h20v356h-20zm20.003906 376v44h-20.003906v-44zm-260 22c0-12.132812 9.867188-22 22-22h197.996094v44h-197.996094c-12.132812 0-22-9.871094-22-22zm280 22v-44h44v44zm0 0"/><path d="m502 278.640625c-5.523438 0-10 4.476563-10 10v87.359375h-10v-306c0-1.269531-.242188-2.53125-.714844-3.710938l-24-60.003906c-1.519531-3.796875-5.195312-6.285156-9.285156-6.285156s-7.765625 2.488281-9.285156 6.285156l-24 60.003906c-.472656 1.179688-.714844 2.441407-.714844 3.710938v236c0 5.519531 4.476562 10 10 10s10-4.480469 10-10v-195.996094h28v265.996094h-38c-5.523438 0-10 4.476562-10 10v48c0 14.335938 11.664062 26 26 26h16c14.335938 0 26-11.664062 26-26v-38h20c5.523438 0 10-4.480469 10-10v-97.363281c0-5.519531-4.476562-9.996094-10-9.996094zm-40 155.359375c0 3.25-2.75 6-6 6h-16c-3.253906 0-6-2.75-6-6v-38h28zm-28-343.996094v-18.074218l14-35.003907 14 35.003907v18.074218zm0 0"/><path d="m82.003906 20c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-.007812c-5.523438 0-9.996094 4.476562-9.996094 10s4.480469 10 10.003906 10zm0 0"/><path d="m424 356c5.523438 0 10-4.480469 10-10.003906 0-5.523438-4.476562-10-10-10s-10 4.476562-10 10v.007812c0 5.519532 4.476562 9.996094 10 9.996094zm0 0"/></svg>
            <%=link_to 'JOURNAL BLOG', root_path, class:"bottomlogo" %>
        </span>
        <br>
        
        <nav>
            <ul>
                <li><%= link_to 'HOME', root_path %></li>
                <li><%= link_to 'ABOUT', about_path %></li>
                <li><%= link_to 'BLOG', "#" %></li>
                <li><%= link_to 'CONTACT US', "#" %></li>
            </ul>
        </nav>
        <small>
            Copyright &copy; 2019 Journal, Inc. All rights reserved.&reg;
        </small>
    </footer>
</div>
